:root {
  /*! COLOUR */

  /*! FONTSIZE */

  /*! SPACING */
  --space-2xs: 0.25rem;
  --space-xs: 0.5rem;
  --space-s: 1rem;
  --space-m: 1.5rem;
  --space-l: 2rem;
  --space-xl: 3rem;

}

* {
  box-sizing: border-box;
}

.button--social, .button--navigation {
  background-color: lightgray;
  border-radius: 100%;
}

.button--social {
  padding: var(--space-s);
}

/*! ===== home ===== */
.game {
  height: 100dvh;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 8fr 1fr;
}

.game__social, .game__navigation {
  z-index: +1;
}

.game__social {
  grid-column: 1;
  grid-row: 1;

  padding: 0 var(--space-s);
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game__navigation {
  grid-column: 1;
  grid-row: 3;

  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation__routes {
  /* width: 4rem;
  height: 4rem; */
  padding: var(--space-s);

  display: flex;
  justify-content: center;
  align-items: center;
}

.game__map {
  grid-column: 1;
  grid-row: 1/4;

  width: 100%;
  height: 100%;
}

.mapboxgl-ctrl-top-right, .mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl-bottom-right {
  display: none;
}

/*! ===== profile ===== */
.profile {
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: var(--space-m);
}

.profile * {
  width: 100%;
}

.profile__navigation {
  padding: var(--space-xs) var(--space-s);
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button--profile {
  width: fit-content;
}

.profile__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-s);
}

.profile__info * {
  width: fit-content;
}

.pfp {
  background-color: lightgray;
  width: 8rem;
  height: 8rem;
  border-radius: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.info__personal {
  display: flex;
  flex-direction: column;
  align-items: center;
}
