:root {
  /* COLOUR */
  /* primary colour */
  --colour-orange: #ff8029;

  /* secondary colours */
  --colour-blue: #46a2ff;
  --colour-green: #00e081;
  --colour-yellow: #cdff10;

  --colour-pink-200: #ffaced;
  --colour-pink-400: #fb3cd0;

  --colour-beige: #d8d7c3;

  /* neutral colours */
  --colour-black: #000;
  --colour-white: #fff;

  /* FONTSIZE */

  /* SPACING */
  --space-2xs: 0.25rem;
  --space-xs: 0.5rem;
  --space-s: 1rem;
  --space-m: 1.5rem;
  --space-l: 2rem;
  --space-xl: 3rem;
}

/*! ===== fonts ===== */
@font-face {
  font-family: "Antwerpen Regular";
  src: url("./assets/fonts/Antwerpen-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Antwerpen Small Caps";
  src: url("./assets/fonts/AntwerpenSmallCaps-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Antwerpen Tall";
  src: url("./assets/fonts/AntwerpenTall-Tall.ttf") format("truetype");
}

@font-face {
  font-family: "Antwerpen Pixel";
  src: url("./assets/fonts/Antwerpen-Pixel.ttf") format("truetype");
}

@font-face {
  font-family: "Sun Antwerpen";
  src: url("./assets/fonts/SunAntwerpen_500.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Sun Antwerpen";
  src: url("./assets/fonts/SunAntwerpen_700.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Sun Antwerpen";
  src: url("./assets/fonts/SunAntwerpen_800.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Sun Antwerpen CD";
  src: url("./assets/fonts/SunAntwerpenCd_500.ttf") format("truetype");
}

@font-face {
  font-family: "Pixelify Sans";
  src: url("./assets/fonts/PixelifySans-VariableFont_wght.ttf")
    format("truetype");
}

/*! ===== universal ===== */
* {
  box-sizing: border-box;
  color: black;
}

html {
  font-family: "Sun Antwerpen";
}

/*! ===== elements ===== */
body {
  max-height: 100dvh;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
  font-size: inherit;
  background: none;
  color: inherit;

  padding: 0;
  border: none;
  margin: 0;
}

/*! ===== recurring classes ===== */
/* .button--social, .button--navigation {
  background-color: lightgray;
  border-radius: 100%;
} */

.button--social {
  padding: var(--space-s);
}

/*! ===== landing page ===== */
/* ... */

/*! ===== onboarding ===== */
.selector {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
}

.selector__title {
  font-family: "Antwerpen Regular";
  font-size: 140%;
}

.selector__question {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.users__list {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.users__item {
  flex-grow: 1;

  background-color: lightgray;

  width: 6rem;
  height: 6rem;
  border-radius: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.selector__onboarding {
  align-self: center;

  background-color: lightgray;

  width: fit-content;
  padding: var(--space-2xs) var(--space-xs);
  border-radius: 4px;
}

/*! ===== game ===== */
.game {
  height: 100dvh;
  overflow: hidden;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 8fr 1fr;
}

.game__social,
.game__navigation {
  z-index: +1;
}

.game__social {
  grid-column: 1;
  grid-row: 1;

  padding: 0 var(--space-s);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game__navigation {
  grid-column: 1;
  grid-row: 3;

  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation__routes {
  background-color: var(--colour-pink-200);
  font-size: 1.5rem;
  font-weight: bold;

  width: 100%;
  padding: var(--space-s);
  border: 2px solid var(--colour-pink-400);
  margin: 0 var(--space-m);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-xs);

  transition: all 200ms ease;
}

.navigation__routes:hover {
  cursor: pointer;
}

.navigation__routes:active {
  background-color: var(--colour-pink-400);
}

.game__map {
  grid-column: 1;
  grid-row: 1/4;

  width: 100%;
  height: 100%;
}

.mapboxgl-ctrl-top-right,
.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-bottom-right {
  display: none;
}

/* nearby users */
.social__section {
  background-color: white;

  width: 80dvw;
  height: 100%;
  padding: var(--space-l) var(--space-m);
  padding-top: 6rem;
  border-radius: 0 1rem 1rem 0;

  position: absolute;
  left: -80dvw;

  transition: all 200ms ease;
}

.social__section--active {
  left: 0dvh;
}

.social__nearby {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
}

.nearby__user {
  background-color: lightgray;

  padding: var(--space-xs) var(--space-s);
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.nearby__info {
  display: flex;
  gap: var(--space-s);
  align-items: center;
}

.nearby__avater {
  background-color: white;

  width: 4rem;
  height: 4rem;
  border-radius: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.nearby__name {
  font-family: "Antwerpen Regular";
  font-size: 120%;
}

.nearby__routes {
  font-size: 110%;
  font-weight: 700;
}

.nearby__meet {
  align-self: center;

  background-color: white;

  width: fit-content;
  padding: var(--space-2xs) var(--space-xs);
  border-radius: 4px;
}

/* profile */
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-m);
}

.profile * {
  width: 100%;
}

.profile__navigation {
  padding: var(--space-xs) var(--space-s);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button--profile {
  width: fit-content;
}

.profile__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-s);
}

.profile__info * {
  width: fit-content;
}

.pfp {
  background-color: lightgray;
  width: 8rem;
  height: 8rem;
  border-radius: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.info__personal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* routes */
.navigation__section {
  background-color: white;

  width: 100%;
  height: 80dvh;
  padding: var(--space-l) var(--space-m);
  padding-bottom: 6rem;
  border-radius: 1rem 1rem 0 0;

  position: absolute;
  top: 100dvh;

  overflow: scroll;
  overscroll-behavior: none;
  transition: all 200ms ease;
}

.navigation__section--active {
  top: 20dvh;
}

.routes__list {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
}

.routes__item {
  background-color: lightgray;

  padding: var(--space-s) var(--space-m);
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  gap: var(--space-2xs);
}

.route__title {
  font-family: "Antwerpen Regular";
  font-size: 140%;
}

.route__info {
  display: flex;
  gap: var(--space-s);
}

/* settings */
.settings {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
}

.settings__title {
  font-family: "Antwerpen Regular";
  font-size: 140%;
  align-self: center;
}

.settings__group {
  display: flex;
  flex-direction: column;
  gap: var(--space-2xs);
}

.group__title {
  font-size: 120%;
  font-weight: bold;
}

.group__setting {
  display: flex;
  justify-content: space-between;
}

.settings__links {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.settings__links * {
  align-self: center;
  background-color: lightgray;

  width: fit-content;
  padding: var(--space-xs) var(--space-s);
  border-radius: 4px;
}
